@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  box-sizing: border-box;
}
/* Mobile First concept */
main{
  margin: 0;
}
.app main{
  background-position: bottom;
  background-size: cover;
  transition: 0.4 ease-out;
}

.app.sunny main{
  background-image: url("./assets/sunny.gif");
}

.app.snow main{
  background-image: url("./assets/snow.gif");
}

.app.rain main{
  background-image: url("./assets/rain.gif");
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.3));
  padding: 25px;
}

.search-box {
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar{
  display: block;
  width: 100%;
  padding: 15px;
  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255,255,255,0.5);
  border-radius: 0px 0px 16px 16px;
  margin-top: -25px;

  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);

  color: #31313131;
  font-size: 20px;
  font-weight: bold;

  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255,255,255,0.6);
  color: rgba(31, 31, 31, 0.8);
}

.load, .found{
  color: ivory;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.3);
}

.location-box .location{
  color: ivory;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.3);
}

.location-box .date{
  color: ivory;
  font-size: 20px;
  font-weight: 200;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, .3);
}

.weather-box{
  text-align: center;
}

.weather-box .temp{
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.15);

  padding: 15px 25px;

  color: ivory;
  font-size: 100px;
  font-weight: 800;

  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
  color: ivory;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}
/* Tablet */
@media (min-width: 460px) and (orientation: portrait){
  .search-box .search-bar{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 550px) and (orientation: landscape){
  .search-box .search-bar{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .weather-box{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-gap: -10px; */
    margin: 0 auto;
  }
  .weather-box .weather{
    margin: auto;
  }
}

/* PC */
@media (min-width: 1024px){
  .search-box .search-bar:hover {
    background-color: rgba(255,255,255,0.6);
  }
  .location-box .location{
    font-size: 80px;
  }
  main{
    width: 50%;
    height: 100vh;
    margin: 0 auto;
    border: 3px none ivory;
    border-radius: 5%;
    /* box-shadow: 3px 6px rgba(0, 0, 0, 0.6); */
  }
}
